@import url("http://fonts.googleapis.com/css?family=Lato:300, 400");
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* #Basic Styles
================================================== */
body {
  background: #fff;
  font: 14px/1.6 "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%; }

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  color: #111;
  font-weight: bold; }

h1 {
  font-size: 60px;
  line-height: 1.1; }

h2 {
  font-size: 48px;
  line-height: 1.2; }

h3 {
  font-size: 36px;
  line-height: 1.3; }

h4 {
  font-size: 24px;
  line-height: 1.4; }

h5 {
  font-size: 21px;
  line-height: 1.5; }

h6 {
  font-size: 18px;
  line-height: 1.6; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

/* #Links
================================================== */
a {
  color: #333;
  text-decoration: underline;
  outline: 0; }

a:hover, a:focus {
  color: #000; }

/*	.CLEARFIX CUSTOM STYLE START
================================== */
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em/1.5em;
  color: #444;
  background: url(../img/bg-grey.png); }

.container {
  width: 960px;
  margin: 3em auto;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #cccccc;
  -moz-box-shadow: 3px 3px 3px #cccccc;
  -webkit-box-shadow: 3px 3px 3px #cccccc;
  box-shadow: 3px 3px 3px #cccccc; }

.stickyheader {
  position: fixed;
  width: 950px;
  max-width: 950px;
  padding: 5px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: #fff; }

header {
  width: 950px;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #cccccc;
  height: 80px;
  padding: 5px;
  position: relative;
  overflow: hidden; }
  header hgroup h5 {
    position: relative;
    left: 15px;
    font-size: small;
    text-transform: uppercase; }
  header #logo {
    position: relative;
    bottom: 5px; }
  header nav {
    float: right;
    position: relative;
    bottom: 62px;
    right: 30px;
    text-transform: uppercase; }
  header ul {
    list-style: none; }
    header ul li {
      display: inline-block; }
    header ul a {
      text-decoration: none;
      margin-right: 15px;
      padding: 5px 10px;
      border: 1px solid white;
      border-radius: 4px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      header ul a:hover, header ul a:active {
        border: 1px solid #b20f1f;
        color: #fff;
        background: #bd403e; }

.current {
  border: 1px solid #b20f1f;
  color: #fff;
  background: #bd403e; }

.main {
  padding: 10px;
  height: 100%;
  width: 98%; }
  .main .main-inner-lower {
    margin: 0 10px; }
  .main .content-left {
    float: left;
    width: 55%;
    max-width: 55%;
    position: relative;
    bottom: 15px; }
    .main .content-left p {
      width: 90%; }
  .main .content-right {
    float: right;
    width: 45%;
    max-width: 45%;
    position: relative;
    bottom: 10px; }
    .main .content-right ul {
      list-style-type: square;
      list-style-position: inside;
      margin-bottom: 10px; }
  .main .work {
    clear: both;
    border-top: 1px solid #dddddd; }
    .main .work .work-inner {
      width: 92%;
      margin: 0 5%; }
      .main .work .work-inner .portfolio-item {
        float: left;
        margin: 10px; }
        .main .work .work-inner .portfolio-item > img {
          border: 1px solid #dddddd; }

.royalSlider {
  margin-bottom: 30px; }

.team {
  width: 100%;
  position: relative;
  bottom: 20px; }
  .team a {
    text-decoration: none;
    color: #da5d5c;
    transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out; }
    .team a:hover, .team a:visited {
      text-decoration: underline;
      color: #bd403e; }
  .team img {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    overflow: hidden; }
  .team .team-inner {
    width: 900px;
    padding: 10px;
    margin: 1em auto; }
    .team .team-inner .member {
      padding: 10px;
      width: 240px;
      height: 100%;
      margin: 0 20px;
      float: left;
      text-align: center; }
    .team .team-inner img {
      cursor: pointer;
      border-radius: 50em;
      border: 4px solid #d9d9d9; }
      .team .team-inner img:hover {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        border: 4px solid #bd403e; }

footer .copyright {
  border-top: 1px solid #dddddd;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 10px; }
footer .inner-footer {
  height: auto;
  padding: 10px;
  border-top: 1px solid #dddddd; }
  footer .inner-footer h3 {
    margin-left: 10px; }
  footer .inner-footer .inner-footer-left {
    width: 55%;
    height: auto;
    float: left;
    padding: 10px; }
    footer .inner-footer .inner-footer-left > p {
      position: relative;
      bottom: 15px; }
  footer .inner-footer .inner-footer-right {
    width: 40%;
    height: auto;
    float: right;
    padding: 10px;
    text-align: right; }
    footer .inner-footer .inner-footer-right > img {
      border: 1px solid #cccccc;
      position: relative;
      bottom: 10px; }

label {
  color: #bd403e;
  font-weight: bold;
  font-size: small; }

input[type=text], input[type=email], textarea {
  border: 1px solid #dddddd;
  width: 250px;
  padding: 5px;
  font-size: 16px/18px;
  outline: none; }

textarea {
  width: 300px; }

button {
  -webkit-appearance: none;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid #bd403e;
  background: #da5d5c;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  button:hover {
    background: #bd403e; }

#full-width-slider {
  width: 100%;
  color: #000; }

.rsGCaption {
  display: none; }

.coloredBlock {
  padding: 12px;
  background: rgba(255, 0, 0, 0.6);
  color: #FFF;
  width: 200px;
  left: 20%;
  top: 5%; }

.infoBlock {
  position: absolute;
  top: 30px;
  right: 30px;
  left: auto;
  max-width: 25%;
  padding-bottom: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  padding: 20px; }
  .infoBlock h4 {
    color: #fff; }

.dark {
  color: #000; }
  .dark h4 {
    color: #000; }

.infoBlockLeftBlack {
  color: #FFF;
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  left: 30px;
  right: auto; }

.infoBlock h4 {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 3px; }

.infoBlock p {
  font-size: 14px;
  margin: 4px 0 0; }

.infoBlock a {
  color: #fff;
  text-decoration: underline; }

.photosBy {
  position: absolute;
  line-height: 24px;
  font-size: 12px;
  background: #fff;
  color: #000;
  padding: 0px 10px;
  position: absolute;
  left: 12px;
  bottom: 12px;
  top: auto;
  border-radius: 2px;
  z-index: 25; }

.photosBy a {
  color: #000; }

.fullWidth {
  max-width: 1400px;
  margin: 0 auto 24px; }

.clearfix:after {
  content: " ";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #333;
  text-transform: lowercase; }

h1 {
  font-size: 2.8em;
  margin-bottom: 8px; }

h2 {
  font-size: 2em;
  margin-bottom: 5px; }

h3 {
  margin-bottom: 5px; }

strong {
  color: #b20f1f; }

.team small {
  font-size: small;
  font-weight: bold; }
